ListenAddr = ":8080"
DockerURL = "DOCKER_HOST"
TLSCACert = "/etc/docker/ca.pem"
TLSCert = "/etc/docker/server-cert.pem"
TLSKey = "/etc/docker/server-key.pem"
AllowInsecure = false
EnableMetrics = true

[[extensions]]
name = "nginx"
serviceName = "SERVICE_NAME"
configPath = "/etc/nginx/nginx.conf"
pidPath = "/tmp/nginx.pid"
templatePath = "/etc/interlock/nginx.conf.template"
maxConn = 1024
port = 80
